<!-- $('body').html("<h1><%= escape_javascript(@post.title) %></h1>").append("<%= escape_javascript(@post.content) %>"); -->

$('body').html('<div><%= escape_javascript(render(@post)) %></div>').append("<%= escape_javascript(@post.content) %>");